# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/build/
/core/config/build/
/core/config/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/data/build/
/core/data/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/data-store/build/
/core/data-store/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/domain/build/
/core/local/build/
/core/local/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/remote/build/
/core/remote/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/ui/build/
/feature/home/build/
/feature/home/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/setting/build/
/feature/setting/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/splash/build/
/feature/splash/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/